.app-form{
  position:absolute;
  background-color: $color-white;
  width: 450px;
  box-shadow: 1px 1px 1px 1px $color-borders;
  top: 80px;

  h3{
    border-bottom: $color-lightgrey solid 1.5px;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 17px;
  }
  .form-section{
    @include flexBox (column, flex-start, flex-start);
    padding: 10px 20px;
    .add-dom-button{
      color: $color-green;
      background-color: $color-white;
      &:hover{
        cursor: pointer;
      }
    }
    label{
      width: 100%;
    }
    input{
      width: 100%;
      padding:7px;
      border: $color-lightgrey 1.5px solid;
      border-radius: 5px;
    }
    .url-section{
      @include flexBox (row, center, center);
      width: 100%;
      input{
        flex:1;
        border-right:none;
        border-radius: 5px 0px 0px 5px;
      }
      .displayed-url{
        @include flexBox (row, center, center);
        border: solid $color-borders 1.5px;
        border-left: none;
        padding: 8px;
        font-size: 12px;
        border-radius: 0px 5px 5px 0px;
        flex:0.6;
        height: 100%;
        background-color: $color-lightgrey; 
      }
    }
  }
  .form-footer{
    @include flexBox (row, center, flex-end);
    padding: 20px 20px;
    .save-button{
      background-color: $color-green;
      color: $color-white;
      padding:5px 20px;
      font-size: 17px;
      border-radius: 4px;
      &:hover{
        cursor: pointer;
        background-color: #539a55;
      }
    }
    .cancel-button{
      color: black;
      background-color: $color-white;
      padding:7px 20px;
      font-size: 17px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}