.card{
  @include flexBox (column, center, center);
  background-color: $color-white;
  border: $color-borders 1px solid;
  height: 400px;
  width: 300px;
  .img{
    margin-top: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex:1;
  }
  .build{
    background-image: url('./img/hugo-track-statistics.png');
    width: 216px;
    height:200px;
  }
  .sources{
    background-image: url('./img/data_collecting.svg');
    width: 119px;
    height:108px;
  }
  .invite{
    background-image: url('./img/user_profile.svg');
    width: 216px;
    height:70px;
    }

  .bottom-section{
    @include flexBox (column, center, center);
    flex:1;

  h3{
    color: $color-darkgrey;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center; 
  }
  p{
    color: $color-text-p;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }
 }
}
.green-button{
  @include flexBox (column, center, center);
  margin-top:30px;
  background-color: $color-green;
  color: $color-white;
  font-weight: 400;
  font-size: 12px;
  height: 35px;
  width: 158px;
  border-radius: 4px;
  &:hover{
    cursor: pointer;
    background-color: #539a55;
  }
}