.navbar{
  @include flexBox(column, flex-start, space-between);
  background-color: $color-grey;
  width:250px;
  min-height: 100vh;
  .logo{
    @include flexBox(row, flex-start, flex-start);
    height: 60px;
    padding:15px 20px;
    font-weight: 400;
    font-size: 20px;
    color: $color-white;
  }
  .options-list{
    .nav-item{
      @include flexBox(row, center, flex-start);
      width: 250px;
      transition: 0.1s all ease-in-out;
      &:hover{
        background-color: $color-darkgrey;
      }
      a{
        @include flexBox(row, center, flex-start);
        border-left: 2px solid rgba(0, 0, 0, 0);
        color: $color-white;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        padding: 15px;
        width: 100%;
        .app-amount{
          background-color: $color-green;
          font-size: 12px;
          padding: 0px 8px;
          margin-left: 60px;
        }
        svg{
          display: block;
          margin-right: 12px;
        }
      }
    }
    .container-bottom{
      height: 10px;
    }
  }
}

