$color-grey: #5C6375;
$color-white: #FFFFFF;
$color-lightgrey: #E5E5E5;
$color-darkgrey:  #333333;
$color-green: #64B867;

$color-borders: #C4C4C499;
$color-text-p: #7F7F7F;
$color-user-image: #CF9DE8;